// styles/task.module.scss
.container {
  display: inline-block;
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  h1{
    text-align: center;
  }
  .item{
    line-height: 30px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .id{
      width: 50px;
    }
    .content{
      display: inline-block;
      width: 500px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .deadline{
      display: inline-block;
      width: 220px;
    }
  }
}